body {
    font-family: "Century Gothic", sans-serif;
    font-weight: bold;
    font-size: small;
    background-color: #d1e6f0;
}

header {
    background-color: #ffd9dd;
    padding: 5px;
    margin: 0px;
    border: dotted #ccbebf;
    border-radius: 20px;
    width: 480;

}

h1
{
    margin: 5px 0px 5px 50px;
}
li {
    list-style-position: inside;
    font-size: 150%;
    } 
#question {
    width: 480px;
    margin: 15px 30px 30px 0px;
    padding: 15px 30px 15px 30px;
    border-radius: 15px;
    background: url(img/_53876-81744\ \(1\).jpg) left;
}


