body {
    font-family: 'Poppins', sans-serif;
    color: #666666;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}
.flex-container {
    width: 100%;
    height: 300px;
    display: flex;
    flex-flow: row nowrap;
  }
  
  .first {
    margin: 0px;
    padding: 0px;
    height: 300px;
    flex-grow: 3;
  }
  
  .second {
    height: 300px;
    flex-grow: 7;
  }


 th {
    width: 120px;
    text-align: left;
    font-size: 500%;
    font-weight: bold;
    color: black;
 }

 td {
   width: 120px;
   text-align: left;
 }

 h2 {
    font-size: 200%;
    color: black;
    font-weight: bold;
 }


.icon {
    display: inline; 
	padding: 30px 10px 10px 10px;
} 

#about {
padding-right: 400px;
padding-bottom: 50px;
width: 400px; 
}

#form {
padding-bottom: 350px;
}

input {
  font-size: 110%;
  border: 0px;
  padding: 25px;
}

#email {
  width: 270px;
  background-color: #E0F1F5;
  border-top-left-radius: 30px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 30px;
}

#send {
color: white;
background-color: #969696;
margin-left: -60px;
border-top-left-radius: 0px;
border-top-right-radius: 30px;
border-bottom-right-radius: 30px;
border-bottom-left-radius: 0px;
}

#social {
  padding: 0px;
  margin: 0px;
}

img {
  size: 100%;
}